@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: auto;
  align-items: center;
  flex-direction: column;

  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: row;
  padding-inline: 96px;
  justify-content: space-between;
  align-items: center;
  background-color: #8540f5;
}

header nav li {
  display: inline;
}

header nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 28px;
}
.formulário {
  margin: 10px;
  padding: 10px;
  width: 400px;
}

.container {
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
}

main ul {
  align-items: center;
  flex-direction: row;
}

.logos-rede-social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 10%;
}

#titulo {
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: px;
  width: 80%;
}

main img {
  margin-left: 0px;
  margin-top: 0px;
}

.contem-section {
  display: flex;
  justify-content: last baseline;
  margin: 10px;
}

.rede_social {
  display: block;
  padding: 20px;
  border: 2px solid #a7c1dd;
  width: 400px;
  background-color: #e2dfe7;
  padding-top: 16px;
}

.rede_social h3 {
  text-align: center;
}
#img-watsapp {
  display: flex;
  margin-left: 40%;
  width: 15%;
  margin-top: 10%;
  margin-bottom: 10px;
}

.rede_social img {
  width: 50%;
}

#numero-telefone {
  margin-left: 30%;
}

.cartao-info img {
  width: 80px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  background-color: #392020;
  width: 159%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #ffffffb4;
}

input {
  margin-bottom: 15px;
  padding: 10px 0; /* Adiciona padding na parte superior e inferior */
  border: none; /* Remove todas as bordas */
  border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior */
  outline: none; /* Remove o outline */
  font-size: 16px; /* Ajusta o tamanho da fonte */
  color: #333; /* Define a cor do texto */
  width: 80%;
}

.checkbox {
  width: unset;
}
.button-enviar {
  width: 80%;
  background-color: transparent;
  border: unset;
}

.imagem_button {
  width: 100%;
}

input:focus,
textarea:focus {
  border-bottom: 3px solid #007bff;
}

textarea {
  margin-bottom: 15px;
  padding: 10px 0; /* Adiciona padding na parte superior e inferior */
  border: none; /* Remove todas as bordas */
  border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior */
  /*outline: none; /* Remove o outline */
  font-size: 16px; /* Ajusta o tamanho da fonte */
  color: #333; /* Define a cor do texto */
  width: 80%; /* deixar a linha da lagura da caixa*/
}
