/* Ajuste do corpo e container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
}

/* Estilização do cabeçalho */
.nave_bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #0070d5;
  color: white;
  padding: 10px 100px;
}

.nave_bar img {
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* Estilização do main */
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto-principal {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 535px;
}

.texto-principal h1 {
  font-size: 3rem;
  text-align: justify;
  margin-bottom: 25px;
}

.texto-principal p {
  font-size: 1.25rem;
  text-align: justify;
}

.imagem-fundo {
  max-width: 40%;
  height: auto;
}

/* Estilização das formas */
#formas-bg-circulo {
  position: absolute;
  top: 100%;
  left: -5%;
  width: 150px;
}

#formas-bg-quadrado {
  position: absolute;
  top: 130%;
  left: 190%;
  width: 150px;
  z-index: 1;
}

#formas-bg-triangulo {
  position: absolute;
  bottom: -420%;
  right: -106%;
  width: 100px;
  z-index: 1;
}

/* Estilização dos cartões de informação */
.cartoes-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.cartao-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 392px;
}

.cartao-info img {
  margin-bottom: 31px;
  height: 79px;
}

.cartao-info h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}

.cartao-info span {
  display: inline-block;
  margin-block: 20px;
  font-size: 1rem;
}

.cartao-info p {
  font-size: 1rem;
  text-align: left;
  height: 100px;
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: transparent;
}

button a {
  font-size: 1rem;
  text-decoration: none;
  color: #0070d5;
}

/* Plugin VLibras */
[vw] {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 9999;
}
